#KSC_form {display:none;}

#content_korean_spell span.mceIcon {background:url("icon.gif") repeat scroll 0 -20px transparent;}
#content_korean_spell:hover span.mceIcon {background-position:0 0;}

.mce-i-korean_spell {background:url("../images/icon.gif") repeat scroll 0 -20px transparent;}
.mce-i-korean_spell:hover {background-position:0 0;}